/*
    shadowPurple: #8785B7
    narratorYellow = #FFFEA2
    bright_narratorYellow: #FFFD81
    narratorBlue: #CFECF0
    bright_narratorBlue: #47AFFF
    spiderBlue: #2B3784
    spiderRed: #B11313
    mediumGray: #9D9D9D
    lightGray: #D9D9D9
    comicRed: #BE4748

Get indie flower and inconsolata from google */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&family=Indie+Flower&display=swap');

/* Elements */
body {
    background-color: #D9D9D9;
}

header {
    position: sticky;
    top: 0;
    width: 99.5%;
    min-height: 10%;
    max-height: 15%;
    background-color: #000;
    font-family: Inconsolata;
    color: #9D9D9D;
    border: 4px solid #000;
    padding:0.5%;
    transition: 0.3s;
    z-index: 500;
}

footer {
    background-color:#8785B7;
    margin-top: 2%;
    min-height: 7%;
    min-width: 98%;
    font-family: Inconsolata;
    text-align: center;
    flex-shrink: 0;
    color: #D9D9D9;
    border: 4px solid #000;
    box-sizing: border-box;
}

h1, li, h2{
    font-family: Inconsolata;
    text-align: justify;
}

h3 {
    font-family: Indie Flower;
    font-size: 1.2rem;
    font-weight: bold;
    max-width: 100%;
    background-color: #FFFEA2;
    color: #000;
    text-align: justify;
    padding: 10px;
    border: 4px solid #000;
}

p {
    font-family: Indie Flower;
    text-align: justify;
}

input, textarea, select, input[type="radio"] {
    outline: none;
    border: 4px solid #000;
    border-radius: 9999rem;
    background-color: #CFECF0;
    text-align: center;
}

img[alt] {
    font-family: Inconsolata;;
}

::placeholder, input[type="text"] {
    font-family: Indie Flower;
    font-size: 52;
    font-weight: bold;
    text-align: center;
    color: #BE4748;
}

button{
    background-color: #BE4748;
    font-family: Inconsolata;
    font-size: large;
    font-weight: bold;
    color: #D9D9D9;
    border: 4px solid #000;
    border-radius: 9999rem;
    padding: 10px 20px;
    text-shadow: -2px 2px 5px #9D9D9D;
    cursor: pointer;
}

/*Classes*/
.superContainer {
    min-height: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
}

.otherPagesSuperContainer {
    padding: 1%;
    background-color: #000;
    min-height: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    align-self: center;
    align-items: space-between;
    align-content: center;
    flex-wrap: wrap;
    overflow: hidden;
}

.dispDiv {
    width: 508PX;
    height: auto;
    padding: 20px;
    display: flex;
    flex-flow: row;
    flex-direction: column;
    align-self: center;
    background-color: #CFECF0;
    border: 4px solid #000;
    box-sizing: content-box;
    align-items: center;
    align-content: center;
}

.headerDisplayContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    max-width: 100%;
    max-height: 100%;
}

.navBar, .icon {
    max-width: 10%;
    height: auto;
    max-height: 20%;
    flex-grow: initial;
}
.navLinks {
    text-align: justify;
}

.contentContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    scrollbar-width: 98%;
    height: 80vh;
}

.formDisplay {
    background-color:#8785b7;
    font-family: Inconsolata;
    font-weight: bold;
    padding: 5%;
    border: 4px solid #000;
    border-radius: 14px;
}
/*Classes w/ children*/
.dispDiv img {
    align-self: center;
    width: 300px;
    height: auto;
    max-width: 500px;
    max-height: 50%;
}

.dispDiv:hover {
    flex-grow: 8;
    padding: 10% 10%;
}

.navLinks ul li {
display: inline;
}

.navLinks button{
    background-color: #B11313;
    font-family: Inconsolata;
    font-size: large;
    font-weight: bold;
    color: #D9D9D9;
    border: 4px solid #000;
    border-radius: 9999rem;
    padding: 10px 20px;
    text-shadow: -2px 2px 5px white;
    cursor: pointer;
}
.navLinks button:hover {
    background-color: #2B3784;
}

.navLinks button:active {
    background-color: #8785B7;
}

.otherPagesSuperContainer table, .otherPagesSuperContainer th, .otherPagesSuperContainer td, .otherPagesSuperContainer td img{
    color:#D9D9D9;
    font-family: Indie Flower;
    font-size: larger;
    font-weight: bolder;
    border: 4px solid #2B3784;
    max-width: 300px;
}

/*Ids*/
#content {
    align-self: center;
    align-items: center;
    text-align: center;
}