@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&family=Indie+Flower&display=swap');

body {
  background-color: #9d9d9d;
  top:0;right:0;bottom:0;right:0;
  display: flex;
  flex-direction: column;
  box-sizing: content-box;
  align-items: stretch;
}

header {
  display: flex;
  flex-direction: row;
  min-height: 176px;
  row-gap: 2.5%;
  box-sizing: content-box;
  justify-content: space-between;
  background-color:#9d9d9d;
  overflow:hidden;
  margin:0;
  align-items: stretch;
}
.currentPage, .pageComments, .navBar {
  border: 4px solid #000;
  text-align: center;
  box-sizing: border-box;
}

.currentPage, .navBar {
  flex-grow: 1;
  font-family: 'Inconsolata', monospace;
  background-color: #FFFEA2;
}

.pageComment {
  margin: 0px 2.5%;
  flex-grow: 2;
  align-self: last baseline;
  font-family: 'Indie Flower', cursive;
  background-color: #CFECF0;
  border: 4px solid #000;
  
}

.navBar {
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  text-align: center;
}

/* .navBar img {
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
} */

.navBar.active {
    transform: scaleX(1);
    width: 100vh;
    position: absolute;
    left: 0;
    background: white;
    display: flex;
    justify-content: center;
}

.navBar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 10px;
}

.navBar ul li {
  display: inline;
  padding: 0 10px;
}

.navBar ul li:not(:last-child)::after {
    content: '|';
    font-weight: bold;
    padding-left: 10px;
    
}

.contentContainer {
  flex-grow: 1;
  height: 90vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Indie Flower', cursive;
  
  padding:2.5%;
}

iframe.content {
  width: 100%;
  height: 100%;
  border: 4px solid #000;
}

footer {
  background-color:#8785B7;
  height: 30px;
  text-align: center;
  position: absolute;
  bottom: 0;
}
